@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="chapter"] h2{
	display: none;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
	text-align: right;
}

[epub|type~="chapter"] header{
	margin-top: 4em;
}

[epub|type~="chapter"] header + p{
	margin-top: 0;
}

[epub|type~="z3998:salutation"],
[epub:type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: left;
}
